# Automatically build the project and run any configured tests for every push
# and submitted pull request.

name: build
on: [pull_request, push]

jobs:
  build:
    strategy:
      matrix:
        # Use these Java versions
        java: [
          25,    # Current Java LTS
        ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure Maven Wrapper is executable
        run: chmod +x ./mvnw

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Build with Maven (fat JAR)
        run: ./mvnw clean package --batch-mode

      - name: Capture build artifacts
        if: ${{ matrix.java == '25' }} # Only upload artifacts built from latest java
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: target/*.jar
